
//-----------variables-----------

:root {
    // --container-bg-color: #333;
    // /*first part colors*/
    // --first-bg-color: rgba(223, 39, 39, 0.7);
    // --first-button-hover-color: rgba(161, 11, 11, 0.3);
    // /*second part colors*/
    // /*--second-bg-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),;*/
    // --second-bg-color:rgba(92, 92, 92, 0.3);
  
    // --second-button-hover-color: rgba(92, 92, 92, 0.3);
    // /*third part colors*/
    // --third-bg-color: rgba(226, 34, 39, 0.7);
    // --third-button-hover-color: rgba(161, 11, 11, 0.3);
    // /*fourth part colors*/
    // --fourth-bg-color: rgba(43, 43, 43, 0.8);
    // --fourth-button-hover-color: rgba(92, 92, 92, 0.3);
  
  
  /*hover*/
    --hover-width: 140%;
    --other-width: 20%;
    --speed: 1000ms;


  }